body{
    background-color: lightgreen;
    font-family:Arial, Helvetica, sans-serif
}
h1{
    text-decoration: underline;
}

img{
    border-radius: 100px;
    width: 450px;
    border-style: solid;
    border-width: 5px;
}
p,li{
    font-weight: bold;
}
h3{
    color: blue;
}